.container{
    background-color: ghostwhite;
}

button:hover {
    color: white;
    background-color: cornflowerblue;
    transition: 2s;
  }

  .caption {
    position: relative;
    overflow: hidden;
  }

  .caption_media {
    display: block;
    min-width: 100%;
    max-width: 100%;
    height: auto;
  }

  .caption_overlay {
    text-align:left;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 10px;
    color: white;
    transform: translateY(100%);
    transition: transform .5s ease-out;
  }

  .caption:hover .caption_overlay {
    transform: translateY(0);
  }

  .caption_overlay_title {
    margin: 0;
    padding: 0 0 12px;
    transform: translateY(calc(-100% - 10px)); /* +10px overlay padding*/
    transition: transform .5s ease-out;
  }

  .caption:hover .caption_overlay_title {
    transform: translateY(0)
  }

  .caption::before {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: transparent;
    transition: background .5s ease-out;

  }

  .caption:hover::before {
    background: rgba( 0, 0, 0, .5);
  }

  .caption{
    transform: translateZ(0);
  }